@import "../InterUI/inter-ui.css"

*
 margin: 0
 padding: 0
 font-family: "Inter UI"

$white: #ebebeb
$darkBlue: #253545

.marginAuto
  margin: auto

.h1
  font-size: 3em
  text-transform: uppercase

.h3
  color: $white
  font-size: 2em

.h3Code
  color: #e9ae15

.h4Code
  color: $darkBlue

.darkBlue
  color: #253545 !important

.white
  color: $white

.dFlex
  display: flex

.textIndent
  text-indent: 30px

.textIndentX2
  text-indent: 50px

.padd
  padding-bottom: 20px

a
  position: relative
  animation: fadeIn 1s ease-in-out

.row
  flex-direction: row !important

/*****************************
  *                  Page 1                    *
 *****************************/

.page1
  display: flex
  flex-direction: column
  height: 100vh
  background-color: #16a085

  h1
    margin: auto
    position: relative
    animation: float 2s ease-in-out 0s infinite;
    font-size: 4em
    text-transform: uppercase
    color: $white

/*****************************
  *                  Animations              *
 *****************************/

@keyframes float
  0%, 100%
    top: -10px

  50%
    top: 0px
